.map {
  height: calc(100vh - 64px);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(https://avatars.mds.yandex.net/get-pdb/2883464/733fd7fa-1561-4519-9315-7de60e85882e/s600);
}